@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Fira Sans', serif;
}

body {
	background: #f1f1f3;
}

main {
	width: 960px;
	margin: 0 auto;
}

section {
	margin-block: 3rem;
}

/* navbar */
.navbar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-block: 1rem;
}

.navbar > button {
	padding-inline: 1rem;
	border: 1px solid#006A50;
	border-radius: 5px;
	color: #006a50;
	font-weight: bold;
	background-color: transparent;
}

/* hero section */

.hero {
	width: 100%;
	height: 300px;
	padding: 3rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: left;
	border-radius: 5px;
	background-color: #b1d8c5;
}

.hero-left {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.hero-right {
	width: 100%;
}

.hero-right {
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-right > img {
	width: 65%;
	height: 100%;
	object-fit: contain;
}

.hero-title {
	color: grey;
	font-weight: bold;
}

.hero-heading {
	width: 75%;
	font-size: 2rem;
}

.hero-btn {
	padding-inline: 1rem;
	padding-block: 0.5rem;
	width: fit-content;
	background-color: #006a50;
	color: white;
	border-radius: 5px;
	border: none;
}

/* pillars section */

.pillers-cards {
	display: flex;
	margin-block: 1rem;
	gap: 1rem;
}

.pillers-card {
	background: white;
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding: 0.8rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}
.pillers-card-title {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.719);
}

.pillers-card-description {
	font-size: small;
	color: grey;
}

/* vision of future section */

.visions {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.visions-description {
	font-size: small;
	color: grey;
}

.visions-cards {
	display: flex;
	margin-block: 1rem;
	gap: 1rem;
}

.bg-blue {
	background-color: rgba(180, 220, 236, 0.87);
}
.bg-green {
	background-color: rgba(174, 216, 174, 0.712);
}
.bg-orange {
	background-color: rgb(230, 213, 182);
}
.btn-blue {
	background-color: #5490f5;
}

.btn-green {
	background-color: #09a15c;
}
.btn-orange {
	background-color: #f0ae16;
}

.visions-card {
	border: none;
	border-radius: 10px;
	padding: 0.8rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
	justify-content: space-between;
}
.visions-card-title {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.719);
}

.visions-card-description {
	font-size: small;
	color: grey;
}

.vision-card-btn {
	width: fit-content;
	padding: 0.5rem 1rem;
	color: white;
	border: none;
	border-radius: 5px;
}

/* quote section */

.quote {
	padding: 1.5rem 1rem;
	border: 1px solid lightgrey;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background: url('./assets/quote-bg.png');
	background-repeat: no-repeat;
	background-size: 38px;
	background-position: top 10px left 20px;
	background-color: white;
}

.quote-brief {
	margin-bottom: 10px;
	color: rgb(78, 78, 78);
}
.quote-person-name {
	color: rgb(73, 72, 72);
}

.quote-person-post {
	font-size: x-small;
	color: grey;
	margin-top: 4px;
	font-weight: normal;
}

/* opinion section */
.opinions-title {
	margin-bottom: 1rem;
}
.opinions-heading {
	display: flex;
	border: 1px solid lightgrey;
	justify-content: space-between;
	padding: 1rem;
	font-weight: bold;
}

.qa-container {
	padding: 1.5rem;
	background-color: white;
	border-radius: 10px;
}

.qa {
	display: flex;
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	background-color: white;
}

.question {
	width: 85%;
	border-right: 1px solid lightgrey;
	padding: 1rem;
	font-weight: bold;
	font-size: small;
}

.answer {
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.answer > button {
	padding: 0.5rem 1rem;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid black;
}

/* news section */

.news-title {
	margin-bottom: 1rem;
}

.news-about {
	font-size: small;
	color: grey;
	margin-bottom: 2rem;
}
.flex-right {
	flex-direction: row-reverse;
}
.news-article {
	display: flex;
	width: 100%;
	background-color: white;
	border-radius: 10px;
	padding: 1.5rem;
	margin-top: 1rem;
}

.news-article-left {
	width: 40%;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.news-article-right {
	width: 60%;
}

.news-article-left > img {
	width: 90%;
	border-radius: 10px;
	object-fit: contain;
}

.news-article-header > h1 {
	font-size: 1.5rem;
	color: rgb(61, 59, 59);
}

.news-article-right {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.news-article-time {
	font-size: small;
	color: rgb(75, 73, 73);
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
}

.news-article-description > p {
	font-size: small;
	color: rgb(68, 67, 67);
}

.news-article-btn > button {
	padding: 0.5rem 1rem;
	border-radius: 5px;
	border: none;
	color: white;
	background-color: #006a50;
}

/* donation section */

.donation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.donation-description {
	font-size: small;
	text-align: center;
	color: rgb(58, 56, 56);
}

.donation-buttons-container {
	display: flex;
	gap: 1rem;
}

.donation-buttons-container > button {
	padding: 1.5rem 3rem;
	border-radius: 10px;
	background: white;
	border: none;
	color: black;
	font-weight: bolder;
	font-size: x-large;
	border: 1px solid lightgray;
}

.donation-buttons-container > button:hover {
	background-color: #b1d8c5;
	transition: background-color 0.5s;
}

.donation-input {
	width: 85%;
	padding: 0.8rem;
	border: none;
	text-align: center;
	outline: none;
	font-weight: bold;
}

.donation-submit-btn {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	background-color: #006a50;
	color: white;
}
